<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0103EN-SkillsNetwork/labs/Module%203/images/flowchart_data_understanding.png" width="500">

In [5]:
# Run script to create virtual environment for the whole app in this folder
# This script is for Linux 
# Only run this cell for first time
!python3 -m venv .venv
!source  .venv/bin/activate

In [7]:
!pip install pandas numpy

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Using cached pandas-2.2.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.0 MB)
Collecting numpy
  Using cached numpy-1.26.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (18.2 MB)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Collecting tzdata>=2022.7
  Using cached tzdata-2024.1-py2.py3-none-any.whl (345 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-1.26.4 pandas-2.2.1 tzdata-2024.1

In [7]:
import pandas as pd # import library to read dara into dataframe
import numpy as np 
import re # import library for regular expression
import random

In [ ]:
# configuration
pd.set_option('display.max_columns', None)

In [8]:
# Read data from ibm server
recipes = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0103EN-SkillsNetwork/labs/Module%202/recipes.csv")

# Show the first few rows
recipes.head()

,country,almond,angelica,anise,anise_seed,apple,apple_brandy,apricot,armagnac,artemisia,...,whiskey,white_bread,white_wine,whole_grain_wheat_flour,wine,wood,yam,yeast,yogurt,zucchini
0,Vietnamese,No,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No
1,Vietnamese,No,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No
2,Vietnamese,No,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No
3,Vietnamese,No,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No
4,Vietnamese,No,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No

In [9]:
# Get the dimensions of the dataframe
recipes.shape

(57691, 384)

In [14]:
from pprint import pprint as p

In [16]:
ingredients = list(recipes.columns.values)

p([match.group(0) for ingredient in ingredients for match in [(re.compile(".*(rice).*")).search(ingredient)] if match])
p([match.group(0) for ingredient in ingredients for match in [(re.compile(".*(wasabi).*")).search(ingredient)] if match])
p([match.group(0) for ingredient in ingredients for match in [(re.compile(".*(soy).*")).search(ingredient)] if match])

['brown_rice', 'licorice', 'rice']
['wasabi']
['soy_sauce', 'soybean', 'soybean_oil']

## Clean data

In [17]:
recipes['country'].value_counts()

country
American        40150
Mexico           1754
Italian          1715
Italy            1461
Asian            1176
                ...
Indonesia          12
Belgium            11
East-African       11
Israel              9
Bangladesh          4
Name: count, Length: 69, dtype: int64

In [26]:
column_names = recipes.columns.values
column_names[0] = "cuisine"
recipes.columns = column_names
recipes

,cuisine,almond,angelica,anise,anise_seed,apple,apple_brandy,apricot,armagnac,artemisia,...,whiskey,white_bread,white_wine,whole_grain_wheat_flour,wine,wood,yam,yeast,yogurt,zucchini
0,vietnamese,No,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No
1,vietnamese,No,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No
2,vietnamese,No,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No
3,vietnamese,No,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No
4,vietnamese,No,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57686,japan,No,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No
57687,japan,No,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No
57688,japan,No,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No
57689,japan,No,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No
57690,japan,No,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No

In [27]:
# rename cuisine to lower
recipes["cuisine"] = recipes["cuisine"].str.lower()

# Make names consistent
list_cuisine_name = {
    'australia': 'austrian',
    'belgium': 'belgian',
    'china': 'chinese',
    'canada': 'canadian',
    'netherlands': 'dutch',
    'france': 'french',
    'germany': 'german',
    'india':'indian',
    'indonesia': 'indonesian',
    'iran': 'iranian',
    'italy': 'italian',
    'japan': 'japanese',
    'israel': 'israeli',
    'korea': 'korean',
    'lebanon': 'lebanese',
    'malaysia': 'malaysian',
    'mexico': 'mexican',
    'pakistan': 'pakistani',
    'philippines':'philippine',
    'scandinavia': 'scandinavian',
    'spain': 'spanish_portuguese',
    'portugal': 'spanish_portuguese',
    'switzerland': 'swiss',
    'thailand':"thai",
    'turkey': 'turkish',
    'vietnam': 'vietnamese',
    "uk-and-ireland": "uk-and-irish",
    "irish":"uk-and-irish"
}

for key, value in list_cuisine_name.items():
    recipes.loc[recipes["cuisine"] == key, "cuisine"] = value

In [30]:
recipes_counts = recipes["cuisine"].value_counts()
cuisines_indices = recipes_counts > 50

cuisines_to_keep = list(np.array(recipes_counts.index.values)[np.array(cuisines_indices)])

In [31]:
rows_before = recipes.shape[0] # number of rows of original dataframe
print("Number of rows of original dataframe is {}.".format(rows_before))

recipes = recipes.loc[recipes['cuisine'].isin(cuisines_to_keep)]

rows_after = recipes.shape[0] # number of rows of processed dataframe
print("Number of rows of processed dataframe is {}.".format(rows_after))

print("{} rows removed!".format(rows_before - rows_after))

Number of rows of original dataframe is 57691.
Number of rows of processed dataframe is 57394.
297 rows removed!

In [33]:
recipes.astype(str).replace(to_replace="Yes", value=1)
recipes.astype(str).replace(to_replace="No", value=0)

,cuisine,almond,angelica,anise,anise_seed,apple,apple_brandy,apricot,armagnac,artemisia,...,whiskey,white_bread,white_wine,whole_grain_wheat_flour,wine,wood,yam,yeast,yogurt,zucchini
0,vietnamese,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,vietnamese,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,vietnamese,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,vietnamese,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,vietnamese,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57686,japanese,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
57687,japanese,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
57688,japanese,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
57689,japanese,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
57690,japanese,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Analyze the data

In [34]:
recipes.head()

,cuisine,almond,angelica,anise,anise_seed,apple,apple_brandy,apricot,armagnac,artemisia,...,whiskey,white_bread,white_wine,whole_grain_wheat_flour,wine,wood,yam,yeast,yogurt,zucchini
0,vietnamese,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,vietnamese,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,vietnamese,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,vietnamese,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,vietnamese,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
check_recipes = recipes.loc[
    (recipes["rice"] == 1) &
    (recipes["soy_sauce"] == 1) &
    (recipes["wasabi"] == 1) &
    (recipes["seaweed"] == 1)
    ]

check_recipes

,cuisine,almond,angelica,anise,anise_seed,apple,apple_brandy,apricot,armagnac,artemisia,...,whiskey,white_bread,white_wine,whole_grain_wheat_flour,wine,wood,yam,yeast,yogurt,zucchini
11306,japanese,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11321,japanese,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
11361,japanese,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12171,asian,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
12385,asian,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13010,asian,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13159,asian,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13513,japanese,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13586,japanese,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13625,east_asian,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14495,east_asian,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [36]:
# sum each column
ing = recipes.iloc[:, 1:].sum(axis=0)

In [38]:
# define each column as a pandas series
ingredient = pd.Series(ing.index.values, index = np.arange(len(ing)))
count = pd.Series(list(ing), index = np.arange(len(ing)))

# create the dataframe
ing_df = pd.DataFrame(dict(ingredient = ingredient, count = count))
ing_df = ing_df[["ingredient", "count"]]
p(ing_df.to_string())

('                  ingredient  count\n'
 '0                     almond   2306\n'
 '1                   angelica      1\n'
 '2                      anise    223\n'
 '3                 anise_seed     87\n'
 '4                      apple   2420\n'
 '5               apple_brandy     37\n'
 '6                    apricot    620\n'
 '7                   armagnac     11\n'
 '8                  artemisia     13\n'
 '9                  artichoke    391\n'
 '10                 asparagus    460\n'
 '11                   avocado    660\n'
 '12                     bacon   2169\n'
 '13              baked_potato      9\n'
 '14                      balm      3\n'
 '15                    banana    989\n'
 '16                    barley    266\n'
 '17             bartlett_pear     23\n'
 '18                     basil   3842\n'
 '19                       bay   1463\n'
 '20                      bean   1992\n'
 '21                     beech      1\n'
 '22                      beef   4902\n'
 '23                beef_broth    845\n'
 '24                beef_liver     10\n'
 '25                      beer    307\n'
 '26                      beet    233\n'
 '27               bell_pepper   5979\n'
 '28                  bergamot      7\n'
 '29                     berry    183\n'
 '30             bitter_orange     85\n'
 '31                black_bean    494\n'
 '32             black_currant     11\n'
 '33    black_mustard_seed_oil     30\n'
 '34              black_pepper   9825\n'
 '35           black_raspberry      8\n'
 '36         black_sesame_seed     26\n'
 '37                 black_tea     44\n'
 '38                blackberry    170\n'
 '39         blackberry_brandy      4\n'
 '40               blue_cheese    396\n'
 '41                 blueberry    466\n'
 '42                  bone_oil     50\n'
 '43           bourbon_whiskey    156\n'
 '44                    brandy    395\n'
 '45                  brassica    114\n'
 '46                     bread   4571\n'
 '47                  broccoli    929\n'
 '48                brown_rice    346\n'
 '49           brussels_sprout     92\n'
 '50                 buckwheat     90\n'
 '51                    butter  20715\n'
 '52                buttermilk   1634\n'
 '53                   cabbage   1026\n'
 '54   cabernet_sauvignon_wine     17\n'
 '55                     cacao     35\n'
 '56          camembert_cheese     12\n'
 '57             cane_molasses   7741\n'
 '58                   caraway    233\n'
 '59                  cardamom    352\n'
 '60                 carnation      3\n'
 '61                     carob      7\n'
 '62                    carrot   3689\n'
 '63                    cashew    208\n'
 '64                   cassava     19\n'
 '65                   catfish     71\n'
 '66               cauliflower    332\n'
 '67                    caviar     28\n'
 '68                   cayenne   8253\n'
 '69                    celery   3625\n'
 '70                celery_oil   1005\n'
 '71                    cereal    204\n'
 '72                 chamomile      3\n'
 '73            champagne_wine    100\n'
 '74                   chayote     27\n'
 '75            cheddar_cheese   3027\n'
 '76                    cheese   3278\n'
 '77                    cherry   1082\n'
 '78             cherry_brandy     32\n'
 '79                   chervil     52\n'
 '80                   chicken   5436\n'
 '81             chicken_broth   3603\n'
 '82             chicken_liver     52\n'
 '83                  chickpea    402\n'
 '84                   chicory    156\n'
 '85           chinese_cabbage    166\n'
 '86                     chive   1333\n'
 '87                     cider   1132\n'
 '88                  cilantro   2473\n'
 '89                  cinnamon   5593\n'
 '90                    citrus    167\n'
 '91               citrus_peel      4\n'
 '92                      clam    476\n'
 '93                     clove     10\n'
 '94                     cocoa   4798\n'
 '95                   coconut   1801\n'
 '96               coconut_oil     17\n'
 '97                       cod    180\n'
 '98                    coffee    719\n'
 '99                    cognac     67\n'
 '100            concord_grape     12\n'
 '101                condiment      9\n'
 '102                coriander   1647\n'
 '103                     corn   4828\n'
 '104               corn_flake    225\n'
 '105                corn_grit    163\n'
 '106           cottage_cheese    347\n'
 '107                     crab    574\n'
 '108                cranberry    920\n'
 '109                    cream  10170\n'
 '110             cream_cheese   2840\n'
 '111                 cucumber   1895\n'
 '112                    cumin   3274\n'
 '113               cured_pork    315\n'
 '114                  currant    241\n'
 '115                     date    377\n'
 '116                     dill   1105\n'
 '117                   durian      0\n'
 '118                      eel     20\n'
 '119                      egg  21022\n'
 '120               egg_noodle    317\n'
 '121               elderberry      5\n'
 '122          emmental_cheese      1\n'
 '123                   endive    115\n'
 '124                enokidake    106\n'
 '125                   fennel    912\n'
 '126                fenugreek    924\n'
 '127              feta_cheese    623\n'
 '128                      fig    139\n'
 '129                     fish   2110\n'
 '130                   flower     32\n'
 '131              frankfurter     37\n'
 '132                    fruit    479\n'
 '133                  galanga     49\n'
 '134                 gardenia      9\n'
 '135                   garlic  17351\n'
 '136                  gelatin   1417\n'
 '137                 geranium      1\n'
 '138                      gin     68\n'
 '139                   ginger   4358\n'
 '140              goat_cheese    260\n'
 '141                    grape    346\n'
 '142             grape_brandy      8\n'
 '143              grape_juice    824\n'
 '144               grapefruit    121\n'
 '145        green_bell_pepper   2582\n'
 '146                green_tea     35\n'
 '147           gruyere_cheese     45\n'
 '148                    guava     13\n'
 '149                  haddock     31\n'
 '150                      ham   1300\n'
 '151                 hazelnut    284\n'
 '152                  herring     10\n'
 '153               holy_basil      3\n'
 '154                    honey   2551\n'
 '155                      hop      3\n'
 '156              horseradish    396\n'
 '157              huckleberry     10\n'
 '158             jamaican_rum      1\n'
 '159            japanese_plum     13\n'
 '160                  jasmine      8\n'
 '161              jasmine_tea      2\n'
 '162            juniper_berry     33\n'
 '163              kaffir_lime      1\n'
 '164                     kale    100\n'
 '165              katsuobushi     63\n'
 '166                     kelp    179\n'
 '167              kidney_bean    442\n'
 '168                     kiwi    109\n'
 '169                 kohlrabi      6\n'
 '170                  kumquat     33\n'
 '171                     lamb    482\n'
 '172                     lard   3051\n'
 '173                   laurel      2\n'
 '174                 lavender     62\n'
 '175                     leaf      9\n'
 '176                     leek    422\n'
 '177                    lemon   3043\n'
 '178              lemon_juice   5065\n'
 '179               lemon_peel    729\n'
 '180               lemongrass    217\n'
 '181                   lentil    247\n'
 '182                  lettuce   1206\n'
 '183                 licorice     21\n'
 '184         lilac_flower_oil      1\n'
 '185                lima_bean    149\n'
 '186                     lime   1160\n'
 '187               lime_juice   1618\n'
 '188            lime_peel_oil    108\n'
 '189              lingonberry      9\n'
 '190                   litchi     12\n'
 '191                    liver     42\n'
 '192                  lobster    131\n'
 '193              long_pepper      2\n'
 '194                   lovage    142\n'
 '195            macadamia_nut    102\n'
 '196                 macaroni   3115\n'
 '197                     mace    117\n'
 '198                 mackerel     44\n'
 '199                     malt     37\n'
 '200                 mandarin    279\n'
 '201            mandarin_peel     15\n'
 '202                    mango    418\n'
 '203              maple_syrup    478\n'
 '204                 marjoram    527\n'
 '205                     mate      1\n'
 '206                matsutake     57\n'
 '207                     meat    987\n'
 '208                    melon    163\n'
 '209                     milk  12869\n'
 '210                 milk_fat    959\n'
 '211                     mint   1012\n'
 '212        mozzarella_cheese   1288\n'
 '213                mung_bean     24\n'
 '214           munster_cheese     27\n'
 '215             muscat_grape      1\n'
 '216                 mushroom   3370\n'
 '217                   mussel    168\n'
 '218                  mustard   4119\n'
 '219                   mutton      3\n'
 '220                nectarine     51\n'
 '221                     nira     67\n'
 '222                      nut   1255\n'
 '223                   nutmeg   2506\n'
 '224                      oat   1265\n'
 '225                  oatmeal     61\n'
 '226                  octopus     45\n'
 '227                     okra    102\n'
 '228                    olive   1798\n'
 '229                olive_oil   9874\n'
 '230                    onion  18078\n'
 '231                   orange   1724\n'
 '232            orange_flower     17\n'
 '233             orange_juice   1726\n'
 '234              orange_peel    596\n'
 '235                  oregano   3180\n'
 '236                     ouzo      9\n'
 '237                   oyster    406\n'
 '238                     palm     46\n'
 '239                   papaya     57\n'
 '240          parmesan_cheese   3173\n'
 '241                  parsley   5550\n'
 '242                  parsnip    139\n'
 '243            passion_fruit     20\n'
 '244                      pea   1180\n'
 '245                    peach    531\n'
 '246                   peanut    509\n'
 '247            peanut_butter   1014\n'
 '248               peanut_oil    308\n'
 '249                     pear    484\n'
 '250              pear_brandy     11\n'
 '251                    pecan   2176\n'
 '252              pelargonium      1\n'
 '253                   pepper   9230\n'
 '254               peppermint    142\n'
 '255           peppermint_oil      8\n'
 '256                  pimenta      2\n'
 '257                  pimento    270\n'
 '258                pineapple   1638\n'
 '259                pistachio    219\n'
 '260                     plum    288\n'
 '261                  popcorn     97\n'
 '262                  porcini    106\n'
 '263                     pork   2056\n'
 '264               pork_liver      5\n'
 '265             pork_sausage   1369\n'
 '266                port_wine     49\n'
 '267                   potato   3528\n'
 '268              potato_chip     65\n'
 '269                    prawn     24\n'
 '270             prickly_pear     20\n'
 '271         provolone_cheese    168\n'
 '272                  pumpkin    803\n'
 '273                   quince     29\n'
 '274                   radish    525\n'
 '275                   raisin   1889\n'
 '276                 rapeseed      3\n'
 '277                raspberry    784\n'
 '278                 raw_beef      2\n'
 '279                red_algae      2\n'
 '280                 red_bean     33\n'
 '281          red_kidney_bean     59\n'
 '282                 red_wine   1395\n'
 '283                  rhubarb    169\n'
 '284                     rice   3856\n'
 '285           roasted_almond      3\n'
 '286             roasted_beef    227\n'
 '287         roasted_hazelnut      1\n'
 '288             roasted_meat     15\n'
 '289              roasted_nut      1\n'
 '290           roasted_peanut    202\n'
 '291            roasted_pecan      1\n'
 '292             roasted_pork    124\n'
 '293      roasted_sesame_seed    593\n'
 '294            romano_cheese    275\n'
 '295                     root    101\n'
 '296         roquefort_cheese     23\n'
 '297                     rose     56\n'
 '298                 rosemary   1892\n'
 '299                      rum    599\n'
 '300                 rutabaga     34\n'
 '301                rye_bread     92\n'
 '302                rye_flour    131\n'
 '303                  saffron    234\n'
 '304                     sage    904\n'
 '305                     sake    680\n'
 '306                   salmon    451\n'
 '307               salmon_roe     15\n'
 '308                sassafras     18\n'
 '309               sauerkraut    185\n'
 '310                   savory    128\n'
 '311                 scallion   4782\n'
 '312                  scallop    300\n'
 '313                sea_algae      4\n'
 '314                  seaweed    215\n'
 '315                     seed   1340\n'
 '316               sesame_oil   1693\n'
 '317              sesame_seed    778\n'
 '318                  shallot   1304\n'
 '319             sheep_cheese      2\n'
 '320                shellfish     27\n'
 '321                   sherry    706\n'
 '322                 shiitake    595\n'
 '323                   shrimp   1679\n'
 '324                    smoke    463\n'
 '325              smoked_fish      6\n'
 '326            smoked_salmon    100\n'
 '327           smoked_sausage    268\n'
 '328              sour_cherry     50\n'
 '329                sour_milk     46\n'
 '330                soy_sauce   3799\n'
 '331                  soybean   1195\n'
 '332              soybean_oil      2\n'
 '333                spearmint      6\n'
 '334                   squash    572\n'
 '335                    squid    238\n'
 '336               star_anise    131\n'
 '337                   starch   2731\n'
 '338               strawberry   1080\n'
 '339           strawberry_jam      1\n'
 '340         strawberry_juice      2\n'
 '341          sturgeon_caviar      1\n'
 '342                    sumac     11\n'
 '343            sunflower_oil      8\n'
 '344             sweet_potato    529\n'
 '345             swiss_cheese    519\n'
 '346           tabasco_pepper    976\n'
 '347                 tamarind   1672\n'
 '348                tangerine     52\n'
 '349                 tarragon    478\n'
 '350                      tea    108\n'
 '351                  tequila    142\n'
 '352              thai_pepper    136\n'
 '353                    thyme   3043\n'
 '354                   tomato   9920\n'
 '355             tomato_juice    176\n'
 '356                  truffle     52\n'
 '357                     tuna    463\n'
 '358                   turkey    900\n'
 '359                 turmeric   1290\n'
 '360                   turnip    188\n'
 '361                  vanilla   9009\n'
 '362                     veal    197\n'
 '363                vegetable   1703\n'
 '364            vegetable_oil  11103\n'
 '365                  vinegar   8060\n'
 '366                   violet      5\n'
 '367                   walnut   2728\n'
 '368                   wasabi    135\n'
 '369               watercress    150\n'
 '370               watermelon    110\n'
 '371                    wheat  20775\n'
 '372              wheat_bread     82\n'
 '373                  whiskey    148\n'
 '374              white_bread    370\n'
 '375               white_wine   2205\n'
 '376  whole_grain_wheat_flour    731\n'
 '377                     wine   1026\n'
 '378                     wood     33\n'
 '379                      yam     85\n'
 '380                    yeast   3385\n'
 '381                   yogurt   1033\n'
 '382                 zucchini   1102')

In [39]:
ing_df.sort_values(["count"], ascending=False, inplace=True)
ing_df.reset_index(inplace=True, drop=True)

p(ing_df)

           ingredient  count
0                 egg  21022
1               wheat  20775
2              butter  20715
3               onion  18078
4              garlic  17351
..                ...    ...
378  lilac_flower_oil      1
379    strawberry_jam      1
380          geranium      1
381          angelica      1
382            durian      0

[383 rows x 2 columns]

In [40]:
cuisines = recipes.groupby("cuisine").mean()
cuisines.head()

,almond,angelica,anise,anise_seed,apple,apple_brandy,apricot,armagnac,artemisia,artichoke,...,whiskey,white_bread,white_wine,whole_grain_wheat_flour,wine,wood,yam,yeast,yogurt,zucchini
cuisine,,,,,,,,,,,,,,,,,,,,,
african,0.156522,0.000000,0.000000,0.000000,0.034783,0.000000,0.069565,0.0000,0.0,0.000000,...,0.000000,0.008696,0.043478,0.008696,0.017391,0.000000,0.008696,0.017391,0.000000,0.034783
american,0.040598,0.000025,0.003014,0.000573,0.052055,0.000623,0.011308,0.0001,0.0,0.006351,...,0.002964,0.006874,0.030809,0.014819,0.011009,0.000672,0.001445,0.068219,0.016912,0.018630
asian,0.007544,0.000000,0.000838,0.002515,0.012573,0.000000,0.005029,0.0000,0.0,0.000000,...,0.000838,0.001676,0.038558,0.001676,0.124895,0.000000,0.001676,0.004191,0.010897,0.011735
cajun_creole,0.000000,0.000000,0.000000,0.000000,0.006849,0.000000,0.000000,0.0000,0.0,0.000000,...,0.000000,0.006849,0.082192,0.000000,0.191781,0.000000,0.006849,0.034247,0.006849,0.000000
canadian,0.036176,0.000000,0.000000,0.000000,0.036176,0.000000,0.002584,0.0000,0.0,0.001292,...,0.002584,0.003876,0.029716,0.020672,0.003876,0.000000,0.001292,0.067183,0.019380,0.011628

In [41]:
num_ingredients = 4 # define number of top ingredients to print

# define a function that prints the top ingredients for each cuisine
def print_top_ingredients(row):
    print(row.name.upper())
    row_sorted = row.sort_values(ascending=False)*100
    top_ingredients = list(row_sorted.index.values)[0:num_ingredients]
    row_sorted = list(row_sorted)[0:num_ingredients]

    for ind, ingredient in enumerate(top_ingredients):
        print("%s (%d%%)" % (ingredient, row_sorted[ind]), end=' ')
    print("\n")

# apply function to cuisines dataframe
create_cuisines_profiles = cuisines.apply(print_top_ingredients, axis=1)

AFRICAN
onion (53%) olive_oil (52%) garlic (49%) cumin (42%)

AMERICAN
butter (41%) egg (40%) wheat (39%) onion (29%)

ASIAN
soy_sauce (49%) ginger (48%) garlic (47%) rice (41%)

CAJUN_CREOLE
onion (69%) cayenne (56%) garlic (48%) butter (36%)

CANADIAN
wheat (39%) butter (38%) egg (35%) onion (34%)

CARIBBEAN
onion (51%) garlic (50%) vegetable_oil (31%) black_pepper (31%)

CENTRAL_SOUTHAMERICAN
garlic (56%) onion (54%) cayenne (51%) tomato (41%)

CHINESE
soy_sauce (68%) ginger (53%) garlic (52%) scallion (48%)

EAST_ASIAN
garlic (55%) soy_sauce (50%) scallion (49%) cayenne (47%)

EASTERN-EUROPE
wheat (53%) egg (52%) butter (48%) onion (45%)

EASTERNEUROPEAN_RUSSIAN
butter (60%) egg (50%) wheat (49%) onion (38%)

ENGLISH_SCOTTISH
butter (67%) wheat (62%) egg (53%) cream (41%)

FRENCH
butter (50%) egg (44%) wheat (37%) olive_oil (27%)

GERMAN
wheat (64%) egg (60%) butter (47%) onion (34%)

GREEK
olive_oil (76%) garlic (44%) onion (36%) lemon_juice (33%)

INDIAN
cumin (60%) turmeric (50%) onion (49%) coriander (47%)

ITALIAN
olive_oil (60%) garlic (52%) tomato (39%) onion (32%)

JAPANESE
soy_sauce (56%) rice (44%) vinegar (36%) vegetable_oil (35%)

JEWISH
egg (59%) wheat (48%) butter (30%) onion (30%)

KOREAN
garlic (59%) scallion (52%) cayenne (51%) soy_sauce (49%)

MEDITERRANEAN
olive_oil (79%) garlic (50%) onion (38%) tomato (34%)

MEXICAN
cayenne (73%) onion (68%) garlic (62%) tomato (58%)

MIDDLEEASTERN
olive_oil (60%) garlic (46%) wheat (37%) lemon_juice (35%)

MOROCCAN
olive_oil (72%) cumin (54%) onion (49%) garlic (45%)

NORTH-AFRICAN
onion (55%) olive_oil (50%) cumin (48%) garlic (46%)

SCANDINAVIAN
butter (64%) wheat (57%) egg (52%) cream (28%)

SOUTH-AMERICA
onion (42%) garlic (36%) egg (34%) milk (31%)

SOUTHERN_SOULFOOD
butter (57%) wheat (48%) egg (41%) corn (29%)

SOUTHWESTERN
cayenne (81%) garlic (62%) onion (61%) cilantro (51%)

SPANISH_PORTUGUESE
olive_oil (57%) garlic (54%) onion (46%) bell_pepper (35%)

THAI
garlic (59%) fish (52%) cayenne (47%) cilantro (41%)

UK-AND-IRISH
butter (59%) wheat (58%) egg (48%) milk (33%)

VIETNAMESE
fish (73%) garlic (72%) rice (49%) cilantro (43%)

WESTERN
egg (51%) wheat (46%) butter (46%) black_pepper (36%)